<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person Page Spring 2</title>

    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
  <p th:text="${user.name}"></p>
  <p th:text="${user.userName}"></p>
  <p th:text="${user.dateCreated}"></p>

  <button onclick="goHome()">Home Page</button>
  <button onclick="gotoEverybody()">See Everyone</button>
</body>
</html>